@model ToDoList
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Layout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Yapılacak İşleminizi Silmek İstiyor Musunuz ?</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <form asp-controller="Experience" asp-action="Delete" method="post">
                            <input type="hidden" asp-for="@Model.ToDoListId">
                            <div class="col-md-7 offset">
                                <div class="form-group">

                                    <label>Başlık & İçerik</label>
                                    <input type="text" asp-for="Title" class="form-control" id="disableinput" disabled /> <br />

                                    <label>Tarih</label>
                                    <input type="date" asp-for="Date" class="form-control" id="disableinput" disabled /> <br />

                                </div>
                                <br />
                                <button type="submit" class="btn btn-danger">Sil</button>
                                <a href="~/ToDoList/Index" type="button" class="btn btn-success" data-dismiss="modal">İptal</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


