@model User
@{
	ViewData["Title"] = "InformationsUpdate";
	Layout = "~/Views/Layout/Index.cshtml";
}

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Kişisel Bilgiler</h4>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<div class="card-title">Kişisel Bilgileri Güncelleme Sayfas</div>
					</div>
					<div class="card-body">

						<form method="post" enctype="multipart/form-data">

							<label> Rolü </label>
							<input type="text" asp-for="Name" class="form-control" /> <br />

							<label> İsim Soyisim </label>
							<input type="text" asp-for="UserName" class="form-control" /> <br />

							<label> Mail Adresi </label>
							<input type="text" asp-for="Email" class="form-control" /> <br />

							<label> Cv </label>
							<input type="file" name="file" asp-for="Cv" class="form-control" /> <br />

							<label> Fotoğraf </label>
							<input type="file" name="file" asp-for="Image" class="form-control" /> <br />

							<button type="submit" class="btn btn-primary">Bilgileri Oluştur</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>