@model Skill
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Layout/Index.cshtml";
}
<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Yetenek</h4>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<div class="card-title">Yetenek Bilgisi Ekleme Sayfası</div>
					</div>
					<div class="card-body">

						<form method="post">
							<label> Yetenek & Beceri</label>
							<input type="text" asp-for="Title" class="form-control" /> <br />

							<label> Yetenek & Beceri Bilgi % Yüzdesi </label>
							<input type="text" asp-for="Value" class="form-control" /> <br />

							<button type="submit" class="btn btn-primary">Yetenek Bilgisi Ekle</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

